.main {
    padding: 10px 0;
}

.introHeading {
    color: #555555 !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
    margin: 0 0 10px !important;
    font-family: "Poppins", sans-serif !important;
}

.introText {
    color: #6a6a6a;
    line-height: 1.8em;
    text-align: justify;
    display: block;
    font-size: 15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Hind", sans-serif !important;
}

.introText1 {
    color: #2c2b2b;
    line-height: 2.0em;
    text-align: justify;
    display: block;
    font-size: 15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-family: "Hind", sans-serif !important;
    /* padding-left: 12px; */
}


/*  */

.field .hvr-sweep-to-right {
    display: inline-block !important;
    vertical-align: middle !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px transparent !important;
    position: relative !important;
    -webkit-transition-property: color !important;
    transition-property: color !important;
    -webkit-transition-duration: 0.3s !important;
    transition-duration: 0.3s !important;
}

.contact-page form.contact-form input[type="tel"] {
    padding-left: 50px !important;
}

.field .uploadResumeLBL {
    font-size: 13px !important;
    font-weight: 500;
}


/*  */

.field .upload-btn-wrapper {
    position: relative !important;
    overflow: hidden !important;
    display: inline-block !important;
}

.btn111 {
    border: 2px solid gray !important;
    color: gray !important;
    background-color: white !important;
    padding: 8px 8px !important;
    border-radius: 8px !important;
    font-size: 15px !important;
    /* font-weight: bold !important; */
}

.field .upload-btn-wrapper input[type="file"] {
    font-size: 20px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    opacity: 0 !important;
}

.contact-page form.contact-form input.error,
.contact-page form.contact-form textarea.error {
    background: rgba(255, 0, 0, 0.6) !important;
    color: #fff !important;
}


/*  */

label {
    color: #555555;
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 500;
}


/*  */

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.6;
    background-color: #fff;
    z-index: 10000;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 40%;
    bottom: 60%;
    z-index: 10000;
}

select {
    width: 100%;
    height: 40px;
    background-color: #f6f6f6;
    padding: 0px 10px;
    border: 1px solid #e1e1e1;
    outline: none;
}

.job_des {
    color: black;
    margin: 10px 0 0px;
}

.job_loc {
    font-size: 13px;
    color: #555555;
    margin: 0 0 0px;
}

.job_dep {
    font-size: 13px;
    color: #555555;
    margin: 0 0 0;
    display: block;
}

.job_des_p {
    margin: 0 0 0;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    width: 100%;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

.panel-default>.panel-heading:before {
    background: #555555;
}

.panel-default>.panel-heading:hover {
    color: #fff;
}

.fa-user-tie {
    margin-right: 5px;
}

.delete-vac {
    right: 10px;
    position: absolute;
    cursor: pointer;
}