.introText {
    color: #2c2b2b;
    line-height: 2.0em;
    text-align: justify;
    display: block;
    font-size: 15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    font-family: "Hind", sans-serif !important;
    /* padding-left: 12px; */
}

.contact-page form.contact-form h3 {
    margin: 0;
    font-size: 24px;
    color: #262626;
    font-family: "Poppins";
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 0px !important;
}

.contact .sec-pad {
    padding: 0px 0px 80px 0px !important;
}

.contact iframe {
    margin-top: 0px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 35px 0px #afafaf;
}

.panel-default>.panel-heading {
    color: #262626;
    /* background-color: #a64c4cc2; */
    border: 1px solid #555555;
    padding: 10px 15px;
    border-bottom: 1px solid #555555;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100% !important;
}

.panel-default>.panel-heading:before {
    background: #555555;
}

.panel-default>.panel-collapse {
    margin-top: 1px;
    border: 1px solid #555555;
    border-bottom: 1px solid #555555;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.contact .panel-group .panel {
    box-shadow: 0px 0px 20px -10px #afafaf;
}

#address2 {
    display: none;
}

#address3 {
    display: none;
}

#address4 {
    display: none;
}

#address5 {
    display: none;
}


/*  */

.contact-page form.contact-form input[type="tel"] {
    padding-left: 50px !important;
}

.contact .inner-banner p {
    color: #fff !important;
}

.tandd {
    font-size: 15px;
    color: #fff !important;
}

.contact .inner-banner {
    text-align: left !important;
    padding-top: 105px;
    padding-bottom: 50px;
    background: #000 url(../img/inner-banner-1-1.html) center center no-repeat;
    background-size: cover;
}

.contact form h3 {
    color: #555555;
    margin-top: 0px !important;
}


/*  */

label {
    color: #555555;
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 500;
}


/*  */

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.6;
    background-color: #fff;
    z-index: 10000;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 40%;
    bottom: 60%;
    z-index: 10000;
}