.main {
  padding: 10px 0;
}

.introHeading {
  color: #555555 !important;
  font-size: 20px !important;
  text-transform: uppercase !important;
  margin: 0 0 10px !important;
  font-family: "Poppins", sans-serif !important;
}

.introText {
  color: #6a6a6a;
  line-height: 1.8em;
  text-align: justify;
  display: block;
  font-size: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Hind", sans-serif !important;
}

.readMore {
  color: #555555;
  font-size: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 15px;
  background-color: white;
  border: 0px solid white;
  padding-left: 0px;
  font-family: "Hind", sans-serif !important;
}

.readMore:hover,
.readMore:active,
.readMore:focus {
  color: #555555;
  font-size: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 15px;
  background-color: white;
  border: 0px solid white;
}

#more {
  display: none;
}

.unorderList li {
  line-height: 1.8em;
  color: #6a6a6a;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: justify;
  list-style-position: outside;
  margin-left: 1em;
}

.thm-unit-test table {
  margin-bottom: 20px;
}

table {
  background-color: transparent;
  display: table;
  border-spacing: 0px;
  border-color: grey;
  margin-bottom: 20px;
  width: 550px;
}

u {
  font-family: "Hind", sans-serif !important;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.thm-unit-test table tbody tr td {
  border: 1px solid #ddd;
  line-height: 1.42857;
  vertical-align: top;
}

td {
  font-size: 15px;
  padding: 5px;
  display: table-cell;
  vertical-align: inherit;
  white-space: -webkit-nowrap;
  width: 200px;
  border: 1px solid #ddd;
  font-family: "Hind", sans-serif !important;
}
/*  */

.msacwl-gallery-carousel .msacwl-gallery-caption {
  padding: 15px !important;
}

.msacwl-gallery-caption {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 5px 40px 5px;
  text-align: center;
  position: absolute;
  bottom: -30px;
  left: 0px;
  right: 0;
  line-height: 45px;
  width: 273px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Hind", sans-serif !important;
}

.msacwl-gallery-caption a {
  color: #fff;
  font-family: "Hind", sans-serif !important;
}

.media-slider {
  width: 273px !important;
  height: 250px !important;
}

.media-slider img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: top center;
}

.item {
  width: 273px !important;
  margin-right: 2px !important;
}

.mfp-img {
  width: 800px !important;
  height: auto !important;
}

.img-popup .industrio-icon-next {
  /* padding: 5px 0; */
  font-family: "Hind", sans-serif !important;
}

.industrio-icon-next:before {
  content: "" !important;
}

.owl-nav [class*="owl-"] {
  width: 28px;
  height: 28px;
  border-radius: 50% !important;
  background: #555555 !important;
  color: #888;
  font-size: 15px;
  margin: 0;
  padding: 2px 7px !important;
  text-align: center !important;
  line-height: 28px;
  transition: all 0.4s ease;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

.owl-nav .owl-prev {
  left: -40px;
}

.owl-nav .owl-next {
  right: -25px;
}

.owl-dots .owl-dot.active span {
  background: #555555 !important;
}
