form {
    /* background: #fff; */
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 8px 19px -7px rgba(0, 0, 0, 0.19), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    /* border-radius: 1px; */
    /* padding: 20px; */
    position: relative;
}

form .input-wrapper {
    position: relative;
}

form .field {
    margin: 6px 0 18px 0;
    position: relative;
}

form .placeholder {
    color: #4f4f4f;
    font-size: inherit;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: -7px;
    background: #ffffff;
    padding: 0 4px;
    pointer-events: none;
}

form input:focus+.placeholder {
    color: #8933f0 !important;
}

form .field-image {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 30px auto;
    background: #303031;
    background: linear-gradient(to bottom, #303031 0%, #5d5760 100%);
}

form .field-header {
    position: relative;
}

form .field-title {
    text-align: center;
    color: #161616;
    font-size: 21px;
    font-weight: bold;
    position: relative;
}

form .field-subtitle {
    text-align: center;
    color: #777;
    margin: 10px auto 40px auto;
    font-size: 13px;
    position: relative;
}

form .field-wrapper {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
}

form .field-wrapper .field {
    position: relative;
    display: table-cell;
    vertical-align: top;
    height: 100%;
}

form .field label>i {
    font-style: normal;
    color: red;
    background: none;
    border: 0 none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    float: none;
    font-size: 18px;
    height: auto;
    letter-spacing: normal;
    list-style: none;
    outline: none;
    position: static;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    width: auto;
    visibility: visible;
    overflow: visible;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    font-weight: 100;
}

form input[type="text"],
form input[type="password"] {
    font-size: 14px;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 10px;
    border: 1px solid #e1e1e1;
    outline: none;
}

form .field>label>input[type="text"]:focus,
form .field>label>input[type="password"]:focus {
    color: #1c1c1d;
    border-color: #b3a130;
}

[data-type="validator-error"] {
    font-size: 11px;
    position: absolute;
    z-index: 10;
    margin-top: 1px;
    margin-left: 250px;
    color: #ffffff;
    background: rgb(200, 53, 53);
    box-shadow: 0 6px 2px -2px rgba(211, 77, 77, 0.47);
    padding: 4px 10px;
    border-radius: 1px;
    pointer-events: none;
}

[data-type="validator-error"]:before {
    content: "";
    width: 0;
    height: 0;
    top: -5px;
    position: absolute;
    left: 6px;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid #c83535;
}

form input[type="text"],
form input[type="password"],
form textarea {
    font-weight: 400;
    width: 100%;
    cursor: auto;
    text-align: left;
    color: #161616;
    background: #fff;
    text-shadow: none;
    margin: 4px 0;
    color: #686868 !important;
    font-size: 16px !important;
    display: block !important;
    font-size: 16px !important;
    background: #f6f6f6 !important;
    height: 40px;
}

form input[type="text"][disabled],
form input[type="password"][disabled],
form textarea[disabled] {
    background-color: #e8e8e8;
}

form input[type="text"].error,
form input[type="password"].error,
form textarea.error {
    border: 1px solid #fa4531;
}

form textarea {
    font-size: 14px;
    position: relative;
    display: inline-block;
    overflow: visible;
    zoom: 1;
    height: 150px;
    margin: 0;
    padding: 0.5em 1em;
    white-space: normal;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    /* border-radius: .2em; */
    outline: none;
}

form textarea:hover,
form textarea:active,
form textarea:focus {
    color: #1c1c1d;
    /* border-color: #b3a130; */
}


/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 15px;
    height: 14px;
    content: "";
    border: 1px solid #aaa;
    border-radius: 2px;
    background: #f8f8f8;
    /* box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
 */
}


/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    top: -1px;
    left: 2px;
    content: "\f00c";
    color: #353535;
    transition: all 0.2s;
}

[type="checkbox"]:indeterminate+label:after {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 3px;
    content: "\f068";
    opacity: 1 !important;
    color: #737373;
    transition: all 0.2s;
    transform: scale(1) !important;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
    border-color: #bbb;
    background-color: #ddd;
    box-shadow: none;
}

[type="checkbox"]:disabled:checked+label:after {
    color: #999;
}

[type="checkbox"]:disabled+label {
    color: #aaa;
}

[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {
    border: 1px dotted #0061ff;
}

label:hover:before {
    border: 1px solid #4778d9 !important;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    /* position: absolute; */
    opacity: 1;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
    position: relative;
    /* padding-left: 25px; */
    cursor: pointer;
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:checked+label:before {
    position: absolute;
    top: -1px;
    left: 0;
    width: 15px;
    height: 14px;
    content: "";
    border: 1px solid #aaa;
    border-radius: 100%;
    background: #f8f8f8;
}

[type="radio"]:not(:checked)+label:after,
[type="radio"]:checked+label:after {
    font-family: FontAwesome;
    font-size: 8px;
    position: absolute;
    top: -2px;
    left: 5px;
    content: "\f111";
    color: #353535;
    transition: all 0.2s;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

[type="radio"]:disabled:not(:checked)+label:before,
[type="radio"]:disabled:checked+label:before {
    border-color: #bbb;
    background-color: #ddd;
    box-shadow: none;
}

[type="radio"]:disabled:checked+label:after {
    color: #999;
}

[type="radio"]:disabled+label {
    color: #aaa;
}

[type="radio"]:checked:focus+label:before,
[type="radio"]:not(:checked):focus+label:before {
    border: 1px dotted blue;
}

label:hover:before {
    border: 1px solid #4778d9 !important;
}


/* .file-input-wrapper {
    line-height: 1;
    position: relative;
    overflow: hidden;
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

input[type='file'] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
} */

form button {
    display: inline-block !important;
    width: 100% !important;
    height: 45px !important;
    border: none !important;
    outline: none !important;
    background: #555555 !important;
    color: #fff !important;
    font-size: 16px !important;
    font-family: "Poppins" !important;
    font-weight: 600 !important;
    /* line-height: 45px !important; */
    border-radius: 0px !important;
}

form button {
    display: inline-block !important;
    vertical-align: middle !important;
    -webkit-transform: perspective(1px) translateZ(0) !important;
    transform: perspective(1px) translateZ(0) !important;
    box-shadow: 0 0 1px transparent !important;
    position: relative !important;
    -webkit-transition-property: color !important;
    transition-property: color !important;
    -webkit-transition-duration: 0.3s !important;
    transition-duration: 0.3s !important;
    border-radius: 0px !important;
}

.g-recaptcha-response {
    display: none !important;
}

.contact .g-recaptcha iframe {
    box-shadow: none !important;
}