.mega-sub-menu {
  z-index: 999;
  border-radius: 0;
  background-color: #f1f1f1 !important;
  /* background-color: #f1f1f1 !important; */
  /* background: linear-gradient(to bottom, #fff, #f1f1f1);
  border-top: 2px solid #555555;
  border-left: 2px solid #555555;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555; */
  padding: 0 0 0 0;
  position: absolute;
  top: 100%;
  width: 100%;
  max-width: none;
  left: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: block;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 10px !important;
  font-family: "Poppins";
  font-size: 15px;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  font-weight: 600;
  margin-top: 3px;
  transform: translateY(10px);
}

.header-navigation ul.navigation-box > li:hover > ul.mega-sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.header-navigation ul.navigation-box > li.open > ul.sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-navigation ul.navigation-box > li.open > ul.mega-sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}
.mb-mega-sub-menu {
  padding: 0 0 0 0;
  position: relative;
  width: 100%;
  max-width: none;
  left: 0;
  display: block;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  font-family: "Poppins";
  font-size: 15px;
  transition: all 0.4s ease;
  font-weight: 600;
  list-style: none;
}
.mega-sub-menu ul.mega-sub-menu,
.mega-sub-menu li.mega-menu-item,
.mega-sub-menu a.mega-menu-link {
  transition: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
  border: 0;
  bottom: auto;
  box-sizing: border-box;
  clip: auto;
  color: #666;
  display: block;
  float: none;
  font-family: inherit;
  font-size: 14px;
  height: auto;
  left: auto;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  min-height: auto;
  max-height: none;
  opacity: 1;
  outline: none;
  overflow: visible;
  padding: 0;
  position: relative;
  pointer-events: auto;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  transform: none;
  top: auto;
  vertical-align: baseline;
  visibility: inherit;
  width: auto;
  word-wrap: break-word;
}

.mega-menu-li {
  width: 25% !important;
  float: left;
  overflow: hidden;
  position: relative;
  display: inline-block;
  left: 0px;
  padding: 5px 20px;
  line-height: 1 !important;
}

.mb-mega-menu-li {
  width: 50% !important;
  float: left;
  overflow: hidden;
  position: relative;
  display: inline-block;
  left: 0px;
  padding: 10px 20px;
  line-height: 1 !important;
  margin-top: 0px !important;
  list-style: none;
}
.mb-mega-menu-li a {
  color: #555555 !important;
}

.hidden-sidebar .sidebar-content .navigation-box {
  margin: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 80px;
  overflow-x: hidden;
}

.mega-sub-menu .row {
  overflow: hidden !important;
  width: 100% !important;
  margin-left: 0px;
  margin-right: 0px;
}

.header-navigation ul.navigation-box > li > .sub-menu li:hover > a {
  background: transparent !important;
  color: #555555 !important;
  position: relative;
}
.header-navigation ul.navigation-box > li > .sub-menu li > .mega-menu-li-a {
  background: transparent !important;
  color: #000000 !important;
  position: relative;
  text-transform: uppercase;
  line-height: 1px !important;
}

.mega-sub-menu-ul-li {
  margin: 8px 0px;
}
.mega-sub-menu-ul-li a {
  font-weight: 400 !important;
  color: #404040;
  font-size: 13px;
  margin: 10px 0px !important;
}

.header-navigation ul.navigation-box > li > ul.mega-sub-menu .mega-menu-li-a {
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 979px) {
  #mega-menu-wrap-main_menu
    #mega-menu-main_menu
    li.mega-menu-item.mega-menu-megamenu
    > ul.mega-sub-menu,
  #mega-menu-wrap-main_menu
    #mega-menu-main_menu
    li.mega-menu-item.mega-menu-flyout
    ul.mega-sub-menu {
    transform: translate(0, 10px);
    transition: transform 400ms ease-in, visibility 400ms ease-in;
  }
}

@media only screen and (min-width: 979px) {
  #mega-menu-wrap-main_menu
    #mega-menu-main_menu
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-columns-1-of-4 {
    width: 25%;
  }
}

/*  */

.header-home-three .container .right-side-box {
  width: 280px;
  height: 62px !important;
  display: inline-block;
  vertical-align: middle;
  background-color: #262626 !important;
  border-bottom: 3px solid #060606;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  right: 0%;
}
.header-home-three .navbar-batch {
  width: 50%;
  float: left;
  text-align: left;
  padding: 0px 5px;
}
.header-home-three .navbar-batch a {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  color: #ffffff;
  font-family: "Poppins";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  letter-spacing: 0.01em;
  line-height: 1em;
  position: relative;
}
.header-home-three .nav-batch-icon {
  vertical-align: middle;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  letter-spacing: 0.01em;
  line-height: 1em;
  position: relative;
  width: 35px;
  height: 62px;
  float: left;
  padding: 4px 0px;
}
.header-home-three .nav-batch-text {
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  letter-spacing: 0.01em;
  line-height: 1em;
  position: relative;
  width: 94.83px;
  height: 62px;
  float: left;
  padding-left: 3px;
  padding-top: 18px;
}
.header-home-three .nav-batch-icon img {
  width: 100%;
  height: auto;
}
.header-home-three .nav-batch-text p {
  background: transparent;
  color: #fff;
  font-size: 12.5px;
  font-family: "Poppins";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  letter-spacing: 0.01em;
  line-height: 1em;
}

.hidden-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #181818 url(../img/side-menu-bg.jpg) center center no-repeat;
  background-size: 100% 100%;
  text-align: left;
  z-index: 1000;
  overflow: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}

.hidden-sidebar .sidebar-content {
  padding: 40px 0;
  padding-left: 50px;
}

.mb-toggle span p {
  color: #ffffff;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  cursor: pointer;
}
.mb-toggle span p:hover {
  color: #555555;
}
.mb-toggle span {
  margin-left: 0px !important;
}
.hidden-sidebar .sidebar-content .navigation-box li {
  margin-top: 20px;
}
.hidden-sidebar .sidebar-content .navigation-box li .mb-mega-sub-menu-ul-li {
  margin-top: 0px;
}
.hidden-sidebar .sidebar-content .navigation-box li ul.sub-menu li a {
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
}
.hidden-sidebar .sidebar-content .navigation-box li ul.sub-menu li a:hover {
  color: #555555;
}
.hidden-sidebar
  .sidebar-content
  .navigation-box
  li
  ul.sub-menu
  li
  .mb-mega-sub-menu-ul-li
  a {
  font-size: 12px;
  font-weight: 100;
  margin-top: 10px !important;
  color: #fff !important;
  cursor: pointer;
  line-height: 18px;
}
.hidden-sidebar
  .sidebar-content
  .navigation-box
  li
  ul.sub-menu
  li
  .mb-mega-sub-menu-ul-li
  a:hover {
  color: #555555;
}

.hidden-sidebar .sidebar-content .navigation-box .row .row {
  margin-right: 0px;
  margin-left: 0px;
}
.hidden-sidebar .sidebar-content .navigation-box li ul.sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
}
#mega-menu-item-746 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
#mega-menu-item-747 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
