.project ul.breadcumb a, .inner-banner ul.breadcumb span {
    color: #555555;
    font-size: 18px;
}
.project ul.breadcumb span.sep {
    margin-left: 10px;
    margin-right: 10px;
    color: #555555;
}
.project ul.breadcumb span {
    color: #fff;
}

.project .sec-title span {
    font-family: 'Playfair Display', serif !important;
    font-weight: bold !important;
    font-style: italic !important;
    background: -webkit-gradient(linear, left top, right top, from(#555555), to(#440000)) !important;
    background: linear-gradient(to right, #555555 0%, #440000 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.project .portfolio-style-two .gallery-filter ul li span:after {
    background: #555555 !important;
}

.project .portfolio-style-two .gallery-filter ul li.active span {
    color: #555555 !important;
}

.project .portfolio-style-two .single-portfolio-style-two .img-box .overlay .box .content a.img-popup {
    color: #555555;
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
}