@media (max-width: 1200px) {
    .header-navigation {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-navigation .container .main-navigation {
        display: none !important;
    }
    .header-navigation .container {
        background: #fff;
        padding-top: 38px;
        padding-bottom: 38px;
    }
    .header-navigation .container .navbar-header {
        left: 20px;
    }
    .header-navigation .container .navbar-header button.side-nav-toggler {
        font-size: 28px;
    }
    .header.header-home-three .header-navigation .container .navbar-header,
    .header.header-home-two .header-navigation .container .navbar-header {
        display: block;
    }
    .header.header-home-three .header-navigation .container {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .header-top .logo {
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }
    .header-top .logo:before {
        display: none;
    }
    .header-top .header-right-info {
        width: 100%;
        text-align: center;
        padding-top: 0;
        padding-bottom: 80px;
    }
    .header-top .single-header-right-info .text-box {
        text-align: left;
    }
    .header-top.home-three .logo {
        padding-bottom: 0;
    }
    .header.header-home-three .header-navigation .container .right-side-box a.rqa-btn {
        border-bottom-width: 4px;
    }
    /* Media */
    .gallery .modal-content {
        width: 80% !important;
    }
    .gallery .mySlides {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides1 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides1 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides2 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides2 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides3 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides3 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides4 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides4 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides5 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides5 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides6 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides6 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides7 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides7 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides8 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides8 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides9 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides9 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides10 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides10 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides11 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides11 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides12 {
        width: 100% !important;
        height: 330px !important;
    }
    .gallery .mySlides12 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .close {
        font-size: 30px !important;
        z-index: 1 !important;
        line-height: 25px !important;
        width: 25px !important;
        height: 25px !important;
        font-weight: 100 !important;
    }
    .gallery .numbertext {
        font-size: 10px !important;
        padding: 2px 8px !important;
    }
    .gallery .column {
        float: left;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: 0.5px solid #555555;
    }
}

@media (max-width: 1024px) {
    img {
        max-width: 100%;
    }
    .slider-home-one .content h2 {
        width: 60%;
    }
    .portfolio-style-two .gallery-filter ul li span {
        padding-left: 17px;
        padding-right: 17px;
    }
    .single-testimonial-style-two p br {
        display: none;
    }
    .fact-counter-section .single-progress-bar .progress-scale {
        width: 200px;
    }
    .contact-info-style-one .contact-infos {
        padding-left: 0;
    }
    .contact-info-style-one .contact-infos .single-contact-infos+.single-contact-infos {
        margin-left: 20px;
    }
    .header-top.home-three .logo {
        padding-bottom: 0;
    }
    .single-service-style-four .img-box .box .content i {
        font-size: 37px;
    }
    .single-service-style-four .img-box .box .content h3 {
        font-size: 18px;
    }
    .strategy-wrapper .single-strategy .img-box,
    .strategy-wrapper .single-strategy .text-box {
        display: block;
        width: 100%;
    }
    .strategy-wrapper .single-strategy .text-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sidebar .single-sidebar.broucher-sidebar a.broucher-btn {
        font-size: 12px;
    }
    .single-service-style-three .text-box {
        width: 100% !important;
    }
    .single-service-style-three .text-box .inner {
        width: 100% !important;
    }
    .fact-counter-section .single-fact-counter .text-box {
        padding-left: 0px !important;
        padding-top: 20px;
    }
    .page-wrapper {
        background: #fff;
        overflow-x: hidden;
    }
    .single-service-style-four .img-box .box .content {
        width: 100%;
        padding-left: 0px;
    }
    .single-service-style-four .img-box .box .content .content-head {
        text-align: left !important;
    }
    .single-service-style-four .img-box .box .content h3 {
        padding-left: 15px !important;
        font-size: 20px !important;
        line-height: 1.7em !important;
    }
    .tandd {
        font-size: 12px !important;
        top: -2px !important;
    }
    .single-service-style-four .img-box {
        width: auto !important;
    }
}

@media (max-width: 991px) {
    .fact-counter-section .single-fact-counter .text-box {
        padding-left: 30px !important;
        padding-top: 0px !important;
    }
    /* .page-wrapper {margin-bottom: 0 !important;} */
    .valvoline iframe {
        display: none;
    }
    .valvoline .ih {
        display: none;
    }
    .valvoline .it {
        display: none;
    }
    footer.site-footer.fixed-footer {
        position: relative;
    }
    .header-top .single-header-right-info+.single-header-right-info {
        margin-left: 14px;
    }
    .service-carousel-style-two .owl-nav {
        margin-top: 40px;
    }
    .service-carousel-style-two .owl-nav [class*="owl-"] {
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 40px;
        font-size: 17px;
        background: #f6f6f6;
        color: #262626;
    }
    .service-carousel-style-two .owl-nav [class*="owl-"]:hover {
        background: #000000;
        color: #fff;
    }
    .service-carousel-style-two .owl-nav [class*="owl-next"] {
        margin-left: 15px;
    }
    .about-style-one .about-img-box {
        margin-left: auto;
        margin-right: auto;
        max-width: 515px;
        margin-top: 70px;
    }
    .team-style-one {
        padding-bottom: 80px;
    }
    .single-team-style-one {
        margin-bottom: 50px;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    .team-style-one+.faq-rqa-section {
        padding-top: 40px;
    }
    .team-style-one+.sec-pad {
        padding-top: 40px;
    }
    .rqa-box {
        margin-top: 80px;
    }
    .blog-style-one .blog-list-sidebar {
        margin-top: 50px;
    }
    .award-winning .title {
        margin-bottom: 40px;
    }
    footer.site-footer .footer-widget.services-widget,
    footer.site-footer .footer-widget.subscribe-widget {
        margin-top: 40px;
    }
    .service-page .service-item-box {
        margin-top: 80px;
        padding-left: 0;
    }
    .service-style-four.about-page .sec-title p,
    .time-line .sec-title p {
        padding-left: 0;
        margin-top: 30px;
    }
    .time-line .tab-content .content {
        padding-left: 0;
    }
    .service-page .sidebar {
        margin-top: 0;
    }
    .faq-style-one .accrodion-grp .accrodion .accrodion-content p br {
        display: none;
    }
    .single-service-style-three {
        margin-bottom: 60px;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .service-style-three {
        padding-bottom: 65px;
    }
    .fact-counter-section .fact-counter .divider {
        display: none;
    }
    .fact-counter-section .fact-counter .single-fact-counter {
        padding-top: 30px;
    }
    .fact-counter-section .fact-counter {
        margin-top: 20px;
    }
    .single-blog-style-one {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .features-style-two {
        padding-bottom: 85px;
    }
    .single-features-style-two {
        margin-bottom: 40px;
    }
    .strategy-wrapper [class*="col-"] {
        width: 33.33333%;
        float: left;
    }
    .sidebar {
        margin-top: 80px;
    }
    .contact-info-style-two .left-content:after {
        right: -30px;
    }
    .contact-info-style-two .right-video-box {
        min-height: 400px;
    }
    .portfolio-style-two .gallery-filter ul li span {
        padding: 17px 25px !important;
    }
    /* About */
    .about-style-three .about-img-box .content {
        top: -45px !important;
        left: 0 !important;
        width: 100% !important;
        max-width: 155px !important;
        min-height: 147px !important;
        padding: 20px !important;
    }
    .about-style-three .about-img-box .content span {
        font-size: 15px !important;
    }
    .about-style-three .about-img-box .content h3 {
        font-size: 20px !important;
        line-height: 25px !important;
        margin-top: 5px !important;
    }
    .about-style-three .about-content {
        text-align: left !important;
    }
    .about-style-prof {
        padding-bottom: 60px !important;
    }
    .about .single-features-style-two .inner {
        height: 350px !important;
    }
    .tab-title-wrapper.text-center {
        text-align: left !important;
    }
    .time-line ul.tab-title {
        display: inline-block !important;
        margin: 0 !important;
        padding: 0 !important;
        list-style: none !important;
        text-align: center !important;
        position: relative !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .time-line ul.tab-title:after {
        content: "";
        width: 93.5% !important;
        height: 1px !important;
        background: #262626 !important;
        position: absolute !important;
        bottom: 2px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
    .time-line ul.tab-title li {
        display: inline-block !important;
        vertical-align: middle !important;
    }
    .time-line ul.tab-title li a {
        display: block !important;
        color: #545454 !important;
        font-size: 18px !important;
        position: relative !important;
        padding-bottom: 10px !important;
        -webkit-transition: all 0.4s ease !important;
        transition: all 0.4s ease !important;
        margin-left: 60px !important;
    }
    .time-line ul.tab-title li a:after {
        content: "";
        width: 5px !important;
        height: 5px !important;
        border-radius: 50% !important;
        background: #545454 !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 50% !important;
        -webkit-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
    }
    .time-line ul.tab-title li {
        display: block !important;
        text-align: left !important;
        float: left !important;
    }
    .time-line ul.tab-title li+li {
        margin-left: 0px !important;
    }
    .time-line ul.tab-title {
        margin-left: 20px !important;
    }
    .time-line .tab-content {
        margin-top: 5px !important;
    }
    .about .time-line .about-history .tab-content .content {
        padding-left: 0px !important;
        padding-top: 20px !important;
    }
    .about .about-item {
        float: left !important;
        width: 100% !important;
        overflow: hidden !important;
    }
    .about .popup-content {
        top: 5% !important;
        width: 90% !important;
    }
    .about .close {
        font-size: 30px !important;
        width: 25px !important;
        height: 25px !important;
        z-index: 1 !important;
        line-height: 0.8em !important;
    }
    .about .popup-top-heading {
        width: 240px !important;
    }
    .about .popup-top-heading h1 {
        padding: 9px 10px !important;
        font-size: 20px !important;
        min-width: 240px !important;
    }
    .about .popup-top-heading h3 {
        top: 40px !important;
        padding: 7px 8px !important;
        font-size: 15px !important;
    }
    .about .popup-bot {
        padding: 55px 55px 25px !important;
        font-size: 13px !important;
    }
    .about .popup-bot p {
        line-height: 1.8em !important;
    }
    .about .time-line .tab-content p {
        margin-top: 10px !important;
        text-align: left !important;
    }
    .about .features-style-two {
        padding-bottom: 20px !important;
    }
    /* Media */
    .gallery .modal-content {
        width: 80% !important;
    }
    .gallery .mySlides {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides1 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides1 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides2 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides2 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides3 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides3 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides4 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides4 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides5 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides5 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides6 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides6 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides7 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides7 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides8 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides8 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides9 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides9 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides10 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides10 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides11 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides11 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides12 {
        width: 100% !important;
        height: 325px !important;
    }
    .gallery .mySlides12 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .close {
        font-size: 30px !important;
        z-index: 1 !important;
        line-height: 25px !important;
        width: 25px !important;
        height: 25px !important;
        font-weight: 100 !important;
    }
    .gallery .numbertext {
        font-size: 10px !important;
        padding: 2px 8px !important;
    }
    .gallery .column {
        float: left;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: 0.5px solid #555555;
    }
}

@media (max-width: 768px) {
    .slider-home-one .content h2 {
        width: 80%;
    }
    .slider-home-one .content p {
        width: 60%;
    }
    .portfolio-style-two .gallery-filter ul li span {
        padding: 15px 4px !important;
    }
    /* About */
    .about-style-three .about-img-box .content {
        top: -45px !important;
        left: 0 !important;
        width: 100% !important;
        max-width: 155px !important;
        min-height: 147px !important;
        padding: 20px !important;
    }
    .about-style-three .about-img-box .content span {
        font-size: 15px !important;
    }
    .about-style-three .about-img-box .content h3 {
        font-size: 20px !important;
        line-height: 25px !important;
        margin-top: 5px !important;
    }
    .about-style-three .about-content {
        text-align: left !important;
    }
    .about-style-prof {
        padding-bottom: 60px !important;
    }
    .about .single-features-style-two .inner {
        height: 350px !important;
    }
    .tab-title-wrapper.text-center {
        text-align: left !important;
    }
    .time-line ul.tab-title:after {
        width: 2px !important;
        height: 100% !important;
        background: #545454 !important;
        bottom: -7px !important;
        left: -15px !important;
    }
    .time-line ul.tab-title li {
        display: block !important;
        text-align: left !important;
        float: none !important;
    }
    .time-line ul.tab-title li a {
        display: block !important;
        color: #545454 !important;
        font-size: 18px !important;
        position: relative !important;
        padding-bottom: 10px !important;
        margin-left: 0px !important;
    }
    .time-line ul.tab-title li a:after {
        width: 10px !important;
        height: 10px !important;
        bottom: 0 !important;
        left: -20px !important;
        transform: translateY(-10px) !important;
    }
    .time-line ul.tab-title li {
        display: block !important;
        text-align: left;
    }
    .time-line ul.tab-title li+li {
        margin-left: 0px !important;
    }
    .time-line ul.tab-title {
        margin-left: 20px !important;
    }
    .time-line .tab-content {
        margin-top: 5px !important;
    }
    .about .time-line .about-history .tab-content .content {
        padding-left: 0px !important;
        padding-top: 20px !important;
    }
    .about .about-item {
        float: left !important;
        width: 100% !important;
        overflow: hidden !important;
    }
    .about .popup-content {
        top: 5% !important;
        width: 90% !important;
    }
    .about .close {
        font-size: 30px !important;
        width: 25px !important;
        height: 25px !important;
        z-index: 1 !important;
        line-height: 0.8em !important;
    }
    .about .popup-top-heading {
        width: 240px !important;
    }
    .about .popup-top-heading h1 {
        padding: 9px 10px !important;
        font-size: 20px !important;
        min-width: 240px !important;
    }
    .about .popup-top-heading h3 {
        top: 40px !important;
        padding: 7px 8px !important;
        font-size: 15px !important;
    }
    .about .popup-bot {
        padding: 30px 15px 15px !important;
        font-size: 13px !important;
    }
    .about .popup-bot p {
        line-height: 1.8em !important;
    }
    .about .time-line .tab-content p {
        margin-top: 10px !important;
        text-align: left !important;
    }
    .about .features-style-two {
        padding-bottom: 20px !important;
    }
    .gallery .prev,
    .gallery .next {
        width: 30px !important;
        padding: 8px !important;
    }
}

@media (max-width: 731px) {
    .fact-counter-section .single-fact-counter .text-box {
        padding-left: 30px !important;
        padding-top: 0px !important;
    }
    .header-navigation .container .navbar-header {
        left: 40px;
    }
    .header-top .header-right-info {
        margin-top: -40px;
    }
    .header-top .single-header-right-info {
        margin-top: 40px;
    }
    .single-team-style-one,
    .blog-style-one .blog-list-sidebar,
    .blog-style-one .single-blog-style-one {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .blog-style-one .single-blog-style-one {
        margin-bottom: 50px;
    }
    .blog-style-one .blog-list-sidebar {
        margin-top: 0;
    }
    .service-details-page .service-details-content .feature-list-box .content-box {
        width: 100%;
    }
    .service-details-page .service-details-content .feature-list-box .img-box {
        width: 100%;
        margin-top: 40px;
    }
    .fact-counter-section .single-fact-counter .text-box .counter-head {
        width: 100% !important;
    }
    /* Media */
    .gallery .modal-content {
        width: 95% !important;
    }
    .gallery .mySlides {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides1 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides1 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides2 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides2 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides3 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides3 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides4 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides4 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides5 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides5 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides6 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides6 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides7 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides7 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides8 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides8 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides9 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides9 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides10 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides10 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides11 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides11 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides12 {
        width: 100% !important;
        height: 300px !important;
    }
    .gallery .mySlides12 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .close {
        font-size: 30px !important;
        z-index: 1 !important;
        line-height: 25px !important;
        width: 25px !important;
        height: 25px !important;
        font-weight: 100 !important;
    }
    .gallery .numbertext {
        font-size: 10px !important;
        padding: 2px 8px !important;
    }
    .gallery .column {
        float: left;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: 0.5px solid #555555;
    }
}

@media (max-width: 667px) {
    .contact .inner-banner h3 {
        font-size: 30px !important;
        margin-bottom: 0px !important;
        margin-top: -42px !important;
        padding: 0px 0px 10px !important;
    }
    /* Index */
    .fact-counter-section .container {
        padding-left: 50px;
        padding-right: 50px;
    }
    .sec-title p br {
        display: none;
    }
    .single-service-style-two .hover .text-box p {
        display: none;
    }
    .testimonials-style-three .sec-title {
        padding-left: 0;
    }
    .time-line .timeline-tab-select-form {
        display: block;
    }
    .time-line .tab-title-wrapper {
        display: block;
    }
    .coming-soon-block .box .content h3 {
        font-size: 32px;
    }
    .coming-soon-block .box .content ul.countdown-box {
        margin: 0 -20px;
    }
    .coming-soon-block .box .content ul.countdown-box li {
        padding: 0 20px;
    }
    .coming-soon-block .copy-text:after {
        right: 0;
        -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        transform: skewX(0deg);
    }
    .fact-counter-section .single-fact-counter .text-box .counter-head {
        width: 100% !important;
    }
}

@media (max-width: 568px) {
    .single-service-style-two .hover .text-box p {
        display: block;
    }
    .coming-soon-block .box .content ul.countdown-box li {
        margin-top: 30px;
    }
    .testimonials-style-three .single-testimonials-style-three .img-box,
    .testimonials-style-three .single-testimonials-style-three .text-box {
        display: block;
    }
    .testimonials-style-three .single-testimonials-style-three .text-box {
        padding-left: 0;
        padding-top: 40px;
    }
    .testimonials-style-three .single-testimonials-style-three .text-box:before {
        display: none;
    }
    .testimonials-style-three .single-testimonials-style-three .text-box:after {
        left: 0;
    }
    .testimonials-style-three-carousel .owl-nav {
        position: static;
        text-align: center;
    }
    .single-service-style-four {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
    .single-service-style-four .img-box .box .content h3 {
        font-size: 28px;
    }
    .single-service-style-four .img-box .box .content i {
        font-size: 56px;
    }
    .strategy-wrapper [class*="col-"] {
        width: 100%;
        float: left;
    }
    .contact-info-style-two .left-content .inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .project-details .project-details-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .service-style-four-carousel.owl-theme .owl-dots {
        display: block !important;
    }
    .service-style-four-carousel .owl-nav {
        display: block !important;
    }
    .sidebar .single-sidebar.broucher-sidebar a.broucher-btn {
        font-size: 17px;
    }
    /* Media */
    .gallery .modal-content {
        width: 95% !important;
    }
    .gallery .mySlides {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides1 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides1 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides2 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides2 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides3 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides3 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides4 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides4 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides5 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides5 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides6 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides6 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides7 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides7 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides8 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides8 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides9 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides9 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides10 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides10 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides11 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides11 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides12 {
        width: 100% !important;
        height: 250px !important;
    }
    .gallery .mySlides12 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .close {
        font-size: 30px !important;
        z-index: 1 !important;
        line-height: 25px !important;
        width: 25px !important;
        height: 25px !important;
        font-weight: 100 !important;
    }
    .gallery .numbertext {
        font-size: 10px !important;
        padding: 2px 8px !important;
    }
    .gallery .column {
        float: left;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: 0.5px solid #555555;
    }
}

@media (max-width: 571px) {
    .portfolio-style-two .gallery-filter {
        margin-bottom: 10px !important;
    }
    .portfolio-style-two .gallery-filter ul {
        text-align: left !important;
    }
    .portfolio-style-two .gallery-filter ul li {
        display: block !important;
        border: 1px solid #e3dfdf !important;
    }
    .portfolio-style-two .gallery-filter ul li span {
        padding: 10px 20px !important;
    }
    .fact-counter-section .single-progress-bar .labeled-text {
        display: block !important;
    }
}

@media (max-width: 480px) {
    .header-top .header-right-info {
        margin-top: -20px;
    }
    .header-top .single-header-right-info {
        margin-top: 20px;
    }
    .slider-home-one .content h2 {
        width: 100%;
    }
    .slider-home-one .content p {
        width: 90%;
    }
    .service-carousel-style-two {
        margin-top: 125px;
    }
    .about-style-one .about-content p br {
        display: none;
    }
    .faq-style-one .accrodion-grp .accrodion .accrodion-title {
        padding-right: 40px;
    }
    .faq-style-one .accrodion-grp .accrodion .accrodion-title h4:before {
        right: -40px;
    }
    .bottom-footer [class*="pull-"] {
        width: 100%;
        text-align: center;
    }
    .bottom-footer [class*="pull-right"] {
        margin-top: 10px;
    }
    .header-top .single-header-right-info {
        max-width: 219px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info-style-one .contact-infos .single-contact-infos {
        display: block;
    }
    .contact-info-style-one .contact-infos .single-contact-infos+.single-contact-infos {
        margin-left: 0;
        margin-top: 30px;
    }
    .coming-soon-block .box .content .btn-box a {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .coming-soon-block .box .content .btn-box a.style-two {
        margin-left: auto;
        margin-top: 30px;
    }
    .blog-details-page .comment-box-wrapper .single-comment-box .img-box,
    .blog-details-page .comment-box-wrapper .single-comment-box .text-box {
        display: block;
    }
    .blog-details-page .comment-box-wrapper .single-comment-box .text-box {
        padding-left: 0;
        margin-top: 30px;
    }
    .blog-details-page .comment-box-wrapper .single-comment-box .text-box a.reply {
        position: static;
        margin-top: 20px;
    }
    .blog-details-page .tags-share-box .tags-box ul li a {
        padding: 0 22px;
        margin-bottom: 10px;
    }
    .tags-share-box [class*="pull-"] {
        width: 100%;
        text-align: left;
    }
    .tags-share-box [class*="pull-left"] {
        margin-bottom: 20px;
    }
    .single-testimonials-style-one {
        padding-bottom: 45px;
        margin-bottom: 0;
    }
    .single-testimonials-style-one .name-box {
        position: static;
        margin-top: 30px;
    }
    /* Index */
    .page-wrapper {
        background: #fff;
        overflow-x: hidden;
    }
    /* .index .sec-pad {
    padding: auto;
  } */
    .portfolio-style-two.full-width {
        padding-top: 50px;
    }
    .fact-counter-section .single-progress-bar .labeled-text {
        width: 100%;
        display: block;
    }
    .single-service-style-three .text-box {
        width: 100% !important;
    }
    .single-service-style-three .text-box .inner {
        width: 100% !important;
    }
    .single-service-style-four .img-box .box .content {
        width: 100%;
        padding-left: 0px;
    }
    .single-service-style-four .img-box .box .content .content-head {
        text-align: left !important;
    }
    .single-service-style-four .img-box .box .content h3 {
        padding-left: 15px !important;
        font-size: 20px !important;
        line-height: 1.7em !important;
    }
    .tandd {
        font-size: 12px !important;
        top: -2px !important;
    }
    .single-service-style-four .img-box {
        width: auto !important;
    }
    /* Scroll to top */
    .scroll-to-top {
        bottom: 10px !important;
        right: 10px !important;
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }
    /* Header */
    .header-navigation .container .navbar-header {
        left: 20px !important;
    }
    .header-navigation .container .right-side-box {
        width: 240px !important;
    }
    .navbar-batch a {
        width: 100% !important;
    }
    .nav-batch-icon {
        width: 25px !important;
        padding: 10px 0px !important;
    }
    .nav-batch-text {
        width: 85px !important;
        padding-top: 18px !important;
    }
    .nav-batch-text p {
        font-size: 11px !important;
        line-height: 1em !important;
    }
    /* Hidden Nav */
    .hidden-sidebar a.close-button {
        top: 20px !important;
    }
    .sidebar-content .top-content a img {
        width: 90% !important;
    }
    .hidden-sidebar .sidebar-content {
        padding-left: 25px !important;
    }
    .single-testimonial-style-two .client-info-box .text-box p {
        font-size: 14px !important;
    }
    /* About */
    .about-style-three .about-img-box .content {
        top: -45px !important;
        left: 0 !important;
        width: 100% !important;
        max-width: 155px !important;
        min-height: 147px !important;
        padding: 20px !important;
    }
    .about-style-three .about-img-box .content span {
        font-size: 15px !important;
    }
    .about-style-three .about-img-box .content h3 {
        font-size: 20px !important;
        line-height: 25px !important;
        margin-top: 5px !important;
    }
    .about-style-three .about-content {
        text-align: left !important;
    }
    .about-style-prof {
        padding-bottom: 60px !important;
    }
    .tab-title-wrapper.text-center {
        text-align: left !important;
    }
    .time-line ul.tab-title:after {
        width: 2px !important;
        height: 100% !important;
        background: #545454 !important;
        bottom: -7px !important;
        left: -15px !important;
    }
    .time-line ul.tab-title li a {
        display: block !important;
        font-size: 14px !important;
        padding-bottom: 0px !important;
    }
    .time-line ul.tab-title li a:after {
        width: 10px !important;
        height: 10px !important;
        bottom: 0 !important;
        left: -20px !important;
        transform: translateY(-10px) !important;
    }
    .time-line ul.tab-title li {
        display: block !important;
        text-align: left;
    }
    .time-line ul.tab-title li+li {
        margin-left: 0px !important;
    }
    .time-line ul.tab-title {
        margin-left: 20px !important;
    }
    .time-line .tab-content {
        margin-top: 5px !important;
    }
    .about .time-line .about-history .tab-content .content {
        padding-left: 0px !important;
        padding-top: 20px !important;
    }
    .about .about-item {
        float: left !important;
        width: 100% !important;
        overflow: hidden !important;
    }
    .about .popup-content {
        top: 5% !important;
        width: 90% !important;
    }
    .about .close {
        font-size: 30px !important;
        width: 25px !important;
        height: 25px !important;
        z-index: 1 !important;
        line-height: 0.8em !important;
    }
    .about .popup-top-heading {
        width: 240px !important;
    }
    .about .popup-top-heading h1 {
        padding: 9px 10px !important;
        font-size: 20px !important;
        min-width: 240px !important;
    }
    .about .popup-top-heading h3 {
        top: 40px !important;
        padding: 7px 8px !important;
        font-size: 15px !important;
    }
    .about .popup-bot {
        padding: 30px 15px 15px !important;
        font-size: 13px !important;
    }
    .about .popup-bot p {
        line-height: 1.8em !important;
    }
    .about .time-line .tab-content p {
        margin-top: 10px !important;
        text-align: left !important;
    }
    .about .features-style-two {
        padding-bottom: 20px !important;
    }
    /* Project */
    .portfolio-style-two .gallery-filter ul {
        text-align: left !important;
    }
    .portfolio-style-two .gallery-filter ul li span {
        font-size: 12px !important;
        line-height: 15px !important;
        padding: 8px 6px !important;
    }
    .portfolio-style-two .gallery-filter ul li span i {
        font-size: 18px !important;
    }
    .portfolio-style-two .gallery-filter {
        margin-bottom: 10px !important;
    }
    /* Media */
    .gallery .modal-content {
        width: 95% !important;
    }
    .gallery .mySlides {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides1 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides1 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides2 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides2 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides3 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides3 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides4 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides4 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides5 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides5 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides6 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides6 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides7 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides7 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides8 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides8 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides9 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides9 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides10 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides10 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides11 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides11 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides12 {
        width: 100% !important;
        height: 195px !important;
    }
    .gallery .mySlides12 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .close {
        font-size: 30px !important;
        z-index: 1 !important;
        line-height: 25px !important;
        width: 25px !important;
        height: 25px !important;
        font-weight: 100 !important;
    }
    .gallery .numbertext {
        font-size: 10px !important;
        padding: 2px 8px !important;
    }
    .gallery .column {
        float: left;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: 0.5px solid #555555;
    }
    .header-top.home-three .top-info .social {
        padding: 8px 0 !important;
        text-align: center !important;
        width: 100%;
    }
}

@media (max-width: 414px) {
    .award-winning .img-box>img {
        width: 40%;
    }
    .award-winning .img-box:before {
        display: none;
    }
    .slider-home-one .content h2 {
        font-size: 32px;
        line-height: 39px;
    }
    .single-service-style-two .hover .text-box p {
        display: none;
    }
    .header-top.home-three .top-info .left-text:before {
        display: none;
    }
    .header-top.home-three .top-info [class*="pull-"] {
        width: 100%;
        text-align: center;
    }
    .header-top.home-three .top-info .social {
        padding-top: 0;
    }
    .header.header-home-three .header-navigation .container .right-side-box a.rqa-btn {
        padding-left: 33px;
        padding-right: 33px;
    }
    .slider-home-two .logo.home-two {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .slider-home-two .logo.home-two:before,
    .slider-home-two .logo.home-two:after {
        display: none;
    }
    .single-service-style-four .img-box .box .content i {
        font-size: 37px;
    }
    .single-service-style-four .img-box .box .content h3 {
        font-size: 18px;
    }
    .single-service-style-four .img-box .box .content {
        padding-left: 30px;
    }
    .fact-counter-section .single-progress-bar .labeled-text {
        width: 100%;
    }
    footer.site-footer .footer-widget.subscribe-widget form.subscribe-form button {
        position: static;
        width: 100%;
    }
    .fact-counter-section .single-fact-counter .icon-box {
        width: 100% !important;
    }
    .fact-counter-section .single-fact-counter .text-box {
        padding-left: 0px !important;
        padding-top: 0px !important;
    }
    .fact-counter-section .single-progress-bar .progress-scale {
        width: 70%;
    }
    .fact-counter-section .single-progress-bar .percent {
        padding: 12px 4px 10px;
        margin-left: 7px;
        width: 20%;
    }
    .fact-counter-section .single-fact-counter .text-box .counter-head {
        margin-top: 10px;
    }
}

@media (max-width: 374px) {
    .contact .inner-banner h3 {
        font-size: 30px !important;
        margin-bottom: 0px !important;
        margin-top: -42px !important;
        padding: 0px 0px 10px !important;
    }
    .single-service-style-three .text-box {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 0 20px;
        margin-top: -30px;
        width: 100% !important;
    }
    .single-service-style-three .text-box {
        width: 100% !important;
    }
    .single-service-style-three .text-box .inner {
        padding-bottom: 40px;
        background: #555555;
        transition: all 0.4s ease;
        padding-right: 10px;
        padding-left: 10px;
        width: 100% !important;
    }
    .single-service-style-three .text-box .inner h3 {
        font-size: 20px;
        font-family: "Poppins";
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    /* Index */
    .page-wrapper {
        background: #fff;
        overflow-x: hidden;
    }
    .single-service-style-four .img-box .box .content {
        width: 100% !important;
        padding-left: 0px !important;
    }
    .single-service-style-four .img-box .box .content .content-head {
        text-align: left !important;
        margin-left: 0px !important;
    }
    .single-service-style-four .img-box .box .content h3 {
        padding-left: 15px !important;
        font-size: 20px !important;
        line-height: 1.7em !important;
    }
    .tandd {
        font-size: 12px !important;
        top: -2px !important;
    }
    .single-service-style-four .img-box {
        width: auto !important;
    }
    /* Scroll to top */
    .scroll-to-top {
        bottom: 10px !important;
        right: 10px !important;
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }
    /* Header */
    .header-navigation .container .navbar-header {
        left: 20px !important;
    }
    .header-navigation .container .right-side-box {
        width: 240px !important;
    }
    .navbar-batch a {
        width: 100% !important;
    }
    .nav-batch-icon {
        width: 25px !important;
        padding: 10px 0px !important;
    }
    .nav-batch-text {
        width: 85px !important;
        padding-top: 18px !important;
    }
    .nav-batch-text p {
        font-size: 11px !important;
        line-height: 1em !important;
    }
    /* Hidden Nav */
    .hidden-sidebar a.close-button {
        top: 20px !important;
    }
    .sidebar-content .top-content a img {
        width: 90% !important;
    }
    .hidden-sidebar .sidebar-content {
        padding-left: 25px !important;
    }
    .single-testimonial-style-two .client-info-box .text-box p {
        font-size: 14px !important;
    }
    /* About */
    .about-style-three .about-img-box .content {
        top: -45px !important;
        left: 0 !important;
        width: 100% !important;
        max-width: 155px !important;
        min-height: 147px !important;
        padding: 20px !important;
    }
    .about-style-three .about-img-box .content span {
        font-size: 15px !important;
    }
    .about-style-three .about-img-box .content h3 {
        font-size: 20px !important;
        line-height: 25px !important;
        margin-top: 5px !important;
    }
    .about-style-three .about-content {
        text-align: left !important;
    }
    .about-style-prof {
        padding-bottom: 60px !important;
    }
    .about .single-features-style-two .inner {
        height: 350px !important;
    }
    .tab-title-wrapper.text-center {
        text-align: left !important;
    }
    .time-line ul.tab-title:after {
        width: 2px !important;
        height: 100% !important;
        background: #545454 !important;
        bottom: -7px !important;
        left: -15px !important;
    }
    .time-line ul.tab-title li a {
        display: block !important;
        font-size: 14px !important;
        padding-bottom: 0px !important;
    }
    .time-line ul.tab-title li a:after {
        width: 10px !important;
        height: 10px !important;
        bottom: 0 !important;
        left: -20px !important;
        transform: translateY(-10px) !important;
    }
    .time-line ul.tab-title li {
        display: block !important;
        text-align: left;
    }
    .time-line ul.tab-title li+li {
        margin-left: 0px !important;
    }
    .time-line ul.tab-title {
        margin-left: 20px !important;
    }
    .time-line .tab-content {
        margin-top: 5px !important;
    }
    .about .time-line .about-history .tab-content .content {
        padding-left: 0px !important;
        padding-top: 20px !important;
    }
    .about .about-item {
        float: left !important;
        width: 100% !important;
        overflow: hidden !important;
    }
    .about .popup-content {
        top: 5% !important;
        width: 90% !important;
    }
    .about .close {
        font-size: 30px !important;
        width: 25px !important;
        height: 25px !important;
        z-index: 1 !important;
        line-height: 0.8em !important;
    }
    .about .popup-top-heading {
        width: 240px !important;
    }
    .about .popup-top-heading h1 {
        padding: 9px 10px !important;
        font-size: 20px !important;
        min-width: 240px !important;
    }
    .about .popup-top-heading h3 {
        top: 40px !important;
        padding: 7px 8px !important;
        font-size: 15px !important;
    }
    .about .popup-bot {
        padding: 30px 15px 15px !important;
        font-size: 13px !important;
    }
    .about .popup-bot p {
        line-height: 1.8em !important;
    }
    .about .time-line .tab-content p {
        margin-top: 10px !important;
        text-align: left !important;
    }
    .about .features-style-two {
        padding-bottom: 20px !important;
    }
    /* Project */
    .portfolio-style-two .gallery-filter ul {
        text-align: left !important;
    }
    .portfolio-style-two .gallery-filter ul li span {
        font-size: 12px !important;
        line-height: 15px !important;
        padding: 8px 6px !important;
    }
    .portfolio-style-two .gallery-filter ul li span i {
        font-size: 18px !important;
    }
    .portfolio-style-two .gallery-filter {
        margin-bottom: 10px !important;
    }
    /* Media */
    .gallery .modal-content {
        width: 95% !important;
    }
    .gallery .mySlides {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides1 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides1 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides2 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides2 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides3 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides3 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides4 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides4 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides5 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides5 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides6 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides6 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides7 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides7 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides8 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides8 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides9 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides9 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides10 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides10 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides11 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides11 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .mySlides12 {
        width: 100% !important;
        height: 200px !important;
    }
    .gallery .mySlides12 img {
        width: auto !important;
        height: 100% !important;
    }
    .gallery .close {
        font-size: 30px !important;
        z-index: 1 !important;
        line-height: 25px !important;
        width: 25px !important;
        height: 25px !important;
        font-weight: 100 !important;
    }
    .gallery .numbertext {
        font-size: 10px !important;
        padding: 2px 8px !important;
    }
    .gallery .column {
        float: left;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border: 0.5px solid #555555;
    }
}

@media (max-height: 700px) {
    .coming-soon-block {
        height: 1000px;
    }
}

@media (max-width: 1199px) {
    #rev_slider_one_wrapper .logo .home-two {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .header-home-three .header-navigation {
        height: 60px;
        overflow: hidden;
    }
    .header-home-three .header-navigation .container .right-side-box {
        top: 47% !important;
    }
    .header-home-three .container .right-side-box {
        border: none !important;
    }
    .header-home-three .container .right-side-box {
        height: 60px !important;
    }
    .header-home-three .header-navigation .container {
        background: #262626;
    }
    .header-home-three .header-navigation .container .navbar-header button.side-nav-toggler {
        color: #fff !important;
    }
    .header-home-three .header-navigation .container {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1200px) {
    #rev_slider_one_wrapper .logo .home-two {
        display: none !important;
    }
}