.content-1 {
  display: block;
  position: absolute;
  left: 0px;
  top: 75px !important;
  width: 100%;
}
.content-2 {
  display: none;
  position: absolute;
  left: 0px;
  top: 75px !important;
  width: 100%;
}
.content-3 {
  display: none;
  position: absolute;
  left: 0px;
  top: 75px !important;
  width: 100%;
}

/* Service */

.service-item-box .sidebar .single-sidebar.service-sidebar ul.service-list li {
  float: left !important;
  margin-top: 0px !important;
  margin-left: 10px;
  cursor: pointer;
}
.service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  .ml-0 {
  margin-left: 0px !important;
}

.service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  li
  a {
  display: block;
  color: #252525;
  font-weight: 500;
  font-size: 16px;
  background: #f5f5f5;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 58px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar .single-sidebar.service-sidebar ul.service-list li:hover a,
.sidebar .single-sidebar.service-sidebar ul.service-list li.active a {
  background: #555555 !important;
  color: #fff !important;
}

.sidebar .single-sidebar.service-sidebar ul.service-list li a:before {
  content: "";
  width: 6px;
  height: 0;
  background: #252525 !important;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  li:hover
  a,
.service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  li:active
  a {
  color: white !important;

  background: #252525 !important;
}
.sidebar .single-sidebar.service-sidebar ul.service-list li a:before {
  background: #252525 !important;
}

.service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  li
  a:before {
  background: #555555 !important;
}

.service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  li:hover
  a,
.service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  li.active
  a {
  background: #252525 !important;
  color: #fff !important;
}
.sidebar .single-sidebar.broucher-sidebar a.broucher-btn:hover i {
  color: #555555;
}
/* .service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  li:hover
  a,
.service-item-box
  .sidebar
  .single-sidebar.service-sidebar
  ul.service-list
  li.active
  a {
  background: #555555 !important;
  color: #fff !important;
} */

.content-4 {
  display: none;
  position: absolute;
  left: 0px;
  top: 75px !important;
  width: 100%;
}
.content-5 {
  display: none;
  position: absolute;
  left: 0px;
  top: 75px !important;
  width: 100%;
}

.introHeading {
  color: #555555 !important;
  font-size: 20px !important;
  text-transform: uppercase !important;
  margin: 0 0 10px !important;
  font-family: "Poppins", sans-serif !important;
}

.introText {
  color: #6a6a6a;
  line-height: 1.8em;
  text-align: justify;
  display: block;
  font-size: 15px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Hind", sans-serif !important;
}
